body
{
	margin: 0 auto;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Ubuntu!important;
	color: #767373;
}
a
{
	text-decoration: none;
}

li
{
	list-style: none;
}

#id_email_id
{
	width: 282px;
    height: 40px!important;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    color: #fff;
    margin: 0 auto!important;
}
::-webkit-input-placeholder
{
   	color: #fff!important;
   	font-size: 10pt;
   	font-style: italic;
   	letter-spacing: 2px;
   	text-align: left!important;
   	
}
input:-webkit-autofill
{
	background-color: transparent!important;
}
#button2
{
	margin-top: 0px;
}
#button2.btn
{
	position: relative;
	left:-5px;
	padding: 8px 12px 8px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: #eb6a2b;
	color: #fff;
	line-height: 1.5;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: bold;
	

}
#button2 a
{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
    -moz-box-shadow: 0 7px 14px -6px #6b6b6b;
    box-shadow: 0 7px 14px -6px #6b6b6b;
}

#button2.btn-default
{
	border-color: transparent;

}

/*Header Starts.................................................................................. */

header
{
	height: 740px;	
	background: url('../images/banner.jpg') no-repeat center center fixed;
	/*background-position: -20px -20px;*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.header-container
{
	text-align: center;
	margin: 0 auto;
}

#lawyered-logo
{
	height:77px;
	width: 228px;
	margin-top: 60px;
	margin-bottom: 4px;
	display:inline-block;	
}
.below-logo
{
	color: #fff;
	font-size: 20px;
	letter-spacing: 4px;
}
#rocket-img
{
	display: block;
	margin:0 auto;
}
#rocket-img:hover
{
	transform:rotate(360deg);
	transition:all 1s ease-in-out;
}
.top-links
{
	margin-top: 20px;
	overflow: hidden;
}
.top-link1
{
	margin-left: 35px;
}
.top-link1,
.top-link2
{
	float: right;
}
.top-link1 a,
.top-link2 a
{
	color: #fff;
	font-size: 11.5px;
	letter-spacing: 2px;

}
.top-link1 a:hover,
.top-link2 a:hover
{
	text-decoration: none;
	color: #41dbeb;
	transition:all .3s ease-in-out;
	
}

.header-heading
{
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size:28px!important;
	letter-spacing: 5px;
}
.header-heading span
{
	color: #41dbeb;

}

#down-img
{
	position: relative;
	top: 148px;
}
.form-stuff
{
	margin-top: 10px;
	
}
.form-stuff p
{
	margin-top:10px; 
	text-align: center;
	margin-bottom:25px;
	color:#fff;
	font-size: 17px;
	/*font-weight: bold;*/
	letter-spacing: 3px;
	font-style: italic;
}

#id_email_id
{

}
#post-button
{
	
}
.warning
{
	color:#eb6a2b!important;
	font-weight: normal!important;
	font-size: 13px!important;
	font-style: italic!important;
	letter-spacing: 1px!important;
}
	
/* Three Images..................................................................................*/
#three-images
{
	padding-top: 54px;

}

.cards
{
	position: relative;
	height: 200px;
	text-align: center;


}
.cards img
{
	height: 81px;
	width: 81px;
	margin-top: 23px;
}
.card-text
{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.1;
}
#first-card
{
	background-color: #f6f6f6;
	padding-left: 20px;
}
#second-card
{
	background-color: #e5e3e3;
}
#first-card .arrow-right
{
	border-left: 15px solid #f6f6f6;

}
#second-card .arrow-right
{
	border-left: 15px solid #e5e3e3;
}
#third-card
{
	background-color: #d9d7d7;
}
.arrow-right {
	position: absolute;
	left: 100%;
	top: 85px;
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	z-index: 100;
	
}


.small-line
{
	margin:0 auto;
	height:1px; 
	width:9%;
	background-color: #b7b7b7;
}
.connect-heading .small-line
{
	background-color: #eb6a2b;
}


/*Middle Banner starts...........................................................................*/
#middle-banner
{
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	/*background: url('../images/whiteboard.jpg') no-repeat center center fixed;*/
	height: 849px;
}
#middle-banner .container
{
	border-bottom: 1px solid #333333;
}
#banner2
{
	width: 100%;
	margin-bottom: 40px;
}
.mid-p-text
{
	color: #333333;
	font-style: italic;
	font-size: 16px;
	/*font-weight: bold;*/
}
/*After Middle Starts.................................................................  */
#after-middle
{
	text-align: center;
	/*margin-bottom: 40px;*/
	padding-top:56px;
}
.mid-h-text
{
	color: #333333;
	margin-top: 34px!important;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 1.5;
	font-size: 24px!important;

}
.mid-h-text span
{
	color: #41dbeb;
}
/* Our Tip Starts...............................................................................*/
#our-tip
{
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
/*
#our-tip h4
{
	font-style: italic;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 2px;
	line-height: 1.4;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

}*/
/* Coming Soon Starts...........................................................................*/
#coming-soon
{
	margin-top: 40px;	
	height: 107px;
	width: 100%;
	background-color: #41dbeb;
	text-align: center;
}
#coming-soon h4
{
	margin-top: 40px;
	font-size: 24px;
	letter-spacing: 4px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
/*Are you a lawyer Container Starts............................................................*/
#are-you-lawyer
{
	padding-top: 60px;
	padding-bottom: 70px;
	text-align: center;
	background-color: #eeeeee;


}
.are-you-container
{
	text-align: center;
}
.are-you-container h3
{
	color: #41dbeb;
	font-family: Arvo;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	text-shadow:1px 0px #41dbeb;
	letter-spacing: 6px;

}
.are-you-container h5
{
	padding-top: 20px;
	width: 100%;
	margin: 0 auto;
	font-size: 22px;
	font-style: italic;
	line-height: 1.3;

	color: #333333;
}
.are-you-container h6
{
	margin-top: 16px;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 22px;
	color: #252525;
	
	letter-spacing: 6px;
	
}
.big-one
{
	padding-left: 10px 14px 10px 14px;
}
.big-one a
{
	font-size: 16px!important;
}
.small-line.margin
{
	margin-top: 30px;
	margin-bottom: 30px;
}
#button2 .btn
{
	position: relative;
	left:-5px;
	padding: 8px 12px 8px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: #eb6a2b;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: bold;

}
#button2 .btn-default
{
	border-color: transparent;
}
/* Tag Line Starts.............................................................................*/
#tag-line
{
	
	text-align: center;
	height: 107px;
	background-color: #333333;
	color: #41dbeb;
}
#tag-line h3
{
	
	margin-top: 40px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-size: 25px;
}


/*Connect With us...............................................................................*/

#connect-us
{
	margin-top: 54px;
	margin-bottom: 50px;
}
.connect-heading h4
{
	margin-top: 20px;
	margin-bottom: 33px;
	text-align: center;
	font-family: Arvo;
	font-size: 20px;
	color: #252525;
	letter-spacing: 6px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 68px;
}
.footer-nav
{
	text-align: center;
}
.footer-nav p
{
	color: #434343;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}
/*Pop Up Stuff Starts....................................................................*/
.pop-ups
{
	color: #333333;
}
#overlay 
{
	position: fixed;
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	background-color:black;
	z-index: 50;
	opacity: .9;
	display: none;
}
#overlay div
{
	margin: 0 auto;
	position: relative;
	top: 50px;
	bottom:116px;
	display: none;
	height: 184px;
	width: 600px;
	background-color: #fff;
	z-index: 1000;
	text-align: center;
	margin: 0 auto;	
}
.cross
{
	position: absolute;
	right: 0px;
	top: 0px;
	height: 30px;
	width: 30px;
}
.overlay-p
{
	text-align: center;
	position: relative;
	top:60px;
	text-transform: uppercase;
	font-family: Ubuntu;
	color: #41dbeb;
	font-size: 16px;
}
.bottom-overlay-p
{
	position: relative;
	top:60px;
	color: #333333;
	font-style: italic;
	font-size: 14px

}
/*Copyright starts....................................................................*/
#copyright
{
	background-color: #252525;
	height: 35px;
}
.copyright-container
{
	position: relative;
	top: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

/*Media queries Start.................................................................*/
@media (max-width: 712px){
	
	.top-link1{
		display: none;
	}
	
}
@media (max-width: 768px){
	#lawyered-logo{
		height: 64px;
		width: 210px;
	}
	.arrow-right{
		display: none;
	}

}
@media (max-width: 460px){
	#lawyered-logo{
		height: 52px;
		width: 174px;
	}
	.header-heading{
		font-size: 20px!important;
	}
	.below-logo{
		font-size: 18px!important;
	}
	.form-stuff p{
		font-size: 14px!important;
	}
	#middle-banner{
		display: none;
	}
	.mid-h-text{
		margin-top: 60px;
		font-size: 14px!important;
	}
	#coming-soon h4{
		font-size: 20px;
	}
	
	.are-you-container h5{
		font-size: 14px;
	}
	.are-you-container h6 {
		font-size: 18px;
	}
	.are-you-container h3{
		font-size: 18px;
	}
	.big-one a{
		font-size: 10px!important;
	}
	#down-img
	{
		display: none;
	}
	#tag-line h3{
		font-size: 16px;
		line-height: 1.5;
	}
}
@media (max-width: 360px){
	#tag-line h3{
		font-size: 12px;
	}
}

