body
{
	margin: 0 auto;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Ubuntu!important;
	color: #767373!important;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;

}
label
{
	font-weight: normal!important;
	font-size: 12px;

}


li
{
	list-style: none;
}


::-webkit-input-placeholder
{
   	color: #fff;
   	font-size: 8pt;
   	font-style: italic;
 
}
#button2
{
	margin-top: 15px;
}
#button2.btn
{
	padding: 6px 12px 6px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: #eb6a2b;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: bold;

}
.form-input
{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
    -moz-box-shadow: 0 7px 14px -6px #6b6b6b;
    box-shadow: 0 7px 14px -6px #6b6b6b;
}
#lawyered-link
{
	height: 21px;
	width: 71px;
	margin-top: -2px;
}

#button2.btn-default
{
	border-color: transparent;
}
.form2
{
	overflow: hidden;
	padding-bottom: 10px;
}
.form2 #button2
{
	
}
/*Header Starts.....................................................................................*/

header
{
	height: 683px;
	width: 100%;
	background: url('../images/blog-banner.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size:cover;
	/*background-position: -20px -20px;*/
	
}
.header-middle
{
	margin-top: 165px!important;
	margin: 0 auto;
	text-align: center;
	color: #fff
}
.header-middle h4
{
	font-weight: bold;
	letter-spacing: 5px;
}
.header-middle .p-bottom,.header-middle .p-middle
{
	font-size: 18px;
	margin-top: 20px;
	font-style: italic;
	letter-spacing: 2px;
}
.header-nav
{
	margin-top: 20px;
	
	overflow: hidden;
}
#blog-logo
{
	width: 50%;
}
#lawyered-p
{
	font-style: none!important;
	color: #fff;
}
.nav-ele
{
	float: right;
	margin-left: 38px;
	font-size: 11.5px;

/*	font-weight: bold;*/
}
.nav-ele a
{
	color: #fff;
	letter-spacing: 2px;
}
/*Our Need Starts..................................................................................*/
#our-need
{
	margin-top: 50px!important;
	margin: 0 auto;
	text-align: center;
	color: #333333;
}
.need-info h4
{
	margin:0 auto;
	width: 63%;
	color: #41dbeb;
	font-weight: bold; 
	font-style: italic;
	font-size: 19px;
	letter-spacing:2px;
	line-height: 1.4;

}
.comma-1,
.comma-2
{
	position: relative;
	top: -10px;
	height: 30px;
	width: 30px;
}
.comma-2
{
	left: 5px;

}

.need-info p
{
	letter-spacing: 2px;
	
	line-height: 1.4;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.small-line
{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	height: 1px;
	width: 8%;
	background-color: #eb6a2b;
}
/* Form-area Starts...............................................................................*/
#form-area
{
	margin-top: 110px;
	margin-bottom: 115px;
}
.form2 .form-group
{
	margin-bottom: 0px!important;
}
.about-register
{
	height: 265px;
	padding: 20px 30px 30px 30px;
	border:2px solid #f2f2f2;
	margin-left: 2%;

}
.about-register h3
{
	color: #252525;
	margin-bottom: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 17px;
}
.about-register p
{
	text-align: justify;
	
}
.about-register span
{
	color: #252525;
	font-weight: bold;
	text-transform: uppercase;
}
.register-form
{
	height: 266px;
	margin-left: 2.6%;
	padding: 20px 30px 20px 30px;
	border:2px solid #f2f2f2;
}

.form-group input
{
	width: 94%;
	background: #f2f2f2!important;
    border-radius:0px!important;
    border: none;
}
.form-group
{
	overflow: hidden;
}
.top-2f,
.bottom-2f
{
	overflow: hidden;
}
.top-2f
{
	
}
.bottom-2f
{
	margin-top: 10px;
}
.left-2,
.right-2
{
	float: left;
	width: 50%;
}
.right-2
{
	overflow: hidden;
}
.right-2 input
{
	float: right;
}
.right-2 label
{
	margin-left: 6%;
}
#email-error,
#number-error
{
	margin-top: 34px;
	margin-left: 14px;
}




.errors
{
	height: 14px;
	width: 100%;
	font-size: 11px;
	color: red;
	font-style: italic;
}

/*Articles Area Starts............................................................................*/

#articles-area
{
	padding-top: 30px;
	padding-bottom: 60px;
	overflow: hidden;
	background-color: #eeeeee;

}
.article-heading
{
	text-align: center;
	color: #252525;


}
.article-heading h3
{
	font-family: Arvo;
	font-weight: bold;
	letter-spacing: 4px;
	font-size: 22px;
}
.articles-container .small-line
{
	margin-bottom: 55px;
}
.article-images
{
	width: 100%;
}
.article-boxes
{
	background-color: #fff;
	border: 1px solid #cdcdcd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.article-boxes:hover
{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
    -moz-box-shadow: 0 7px 14px -6px #6b6b6b;
    box-shadow: 0 7px 14px -6px #6b6b6b;
    transition:all .3s ease-in-out;
}
.article-boxes a
{
	display: block;

}
.article-body
{
	padding-top: 10px;
	padding-left: 10px;
}
.article-body-p
{
	height: 46px;
}
.article-body-p a
{
	color: #727373;
	
	font-weight: bold;
}
.article-author
{
	font-size: 12px;
	color: #41dbeb;
	font-style: italic;
}
.article-time,
.article-day
{
	font-size: 12px;
}

/*Connect Us Starts..................................................................................*/
#connect-us
{
	margin-top: 60px;
	margin-bottom: 60px;
}
.connect-heading h4
{
	text-align: center;
	font-family: Arvo;
	letter-spacing: 5px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 50px;
}
.footer-nav
{
	text-align: center;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}
.p-span:hover
{
	color: #eb6a2b;
}
/* Tag Line Starts.............................................................................*/
#tag-line
{
	
	text-align: center;
	height: 107px;
	background-color: #333333;
	color: #41dbeb;
}
#tag-line h3
{
	margin-top: 40px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-size: 25px;
}

/*Connect With us...............................................................................*/

#connect-us
{
	margin-top: 54px;
	margin-bottom: 50px;
}
.connect-heading h4
{
	margin-top: 20px;
	margin-bottom: 33px;
	text-align: center;
	font-family: Arvo;
	font-size: 20px;
	color: #252525;
	letter-spacing: 6px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 68px;
}
.footer-nav
{
	text-align: center;
}
.footer-nav p
{
	color: #434343;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}

/*Copyright starts....................................................................*/
#copyright
{
	background-color: #252525;
	height: 35px;
}
.copyright-container
{
	position: relative;
	top: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}


/*Responsive starts........................................................................................*/

@media (max-width: 768px){
	#blog-logo{

	}
}
@media (max-width: 460px){
	#blog-logo{
		width: 80%;
	}
	#tag-line h3{
		font-size: 16px;
		line-height: 1.3;
	}
}
@media (max-width: 545px){
	.register-form{
		height: auto;
	}
	.left-2,
	.right-2{
		float: none;
		width: 100%!important;
	}
	.right-2 input{
		float: none;
	}
	.right-2 label{
		margin-left: 0px;
	}
	#email-error,
	#number-error{
		margin-top: 0px;
		margin-left: 0px;
	}
}
@media (max-width: 360px){
	#tag-line h3{
		font-size: 12px;
	}
}