body
{
	margin: 0px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: justify;
	font-family: Ubuntu!important;
	color: #333333!important;
}
li
{
	list-style: none;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: none;

}



/* Header Starts.....................................................................................................*/
#top-header
{
	width:100%; 
	height:65px;
	background-color: #1B1A1A;
}
#top-header div
{

}
#blog-logo
{
	margin-top: 20px;
	height: 16px;
	width: 142px;
	float: left;
}
.article-tag1,.article-tag2
{
	position: relative;
	top: 20px;
	color: #41dbeb;
	float: right;
	
}
.article-tag1
{
	margin-left: 30px;
}
.article-tag2
{
	font-size: 11px;
	margin-top: 4px;
	color: #fff;
}

#home-link
{
	height: 22px;
	width: 64px;

}
#name-container
{
	margin-top: 50px;
}
.top-header
{
	overflow: hidden;
}
.top-header h5
{
	display: inline-block;
	margin-top: 30px;
	letter-spacing: 2px;
	color: #41dbeb;
	font-weight: bold;
}
.right-header
{
	float: right;
	
}
.right-header
{
	padding: 0px;
}
.right-header li
{
	margin-top: 20px;
	display: inline-block;
}
.f2
{
	margin-left: 20px;
}
.f1 a,
.f2 a
{
	color: #fff;

}
.article-tag2
{
	color: #41dbeb;
}
/*Recent Post Banner..................................................................................................*/
#recent-post-banner
{
	overflow: hidden;
}
#recent-post-banner .row
{
	margin-right: 0px;
	margin-left: 0px;
}

.post-text
{
	
	position: relative;
	padding-left: 20px!important;
	background-color: black;
	height: 330px;
}
.post-image
{
	overflow: hidden;
	
}
.slider-image-box
{
	/*height: 330px!important;*/
}
.post-image,
.post-text
{
	height: 352px!important;
	padding: 0px;
}
.slides
{
	display: block;
	margin:0px;
	padding: 0px;
}
.slide
{
	float: left;
	list-style-type: none;
	width: 100%;
}
.slider-control
{
	height: 60px;
	text-align: center;
}
.slider-left,
.slider-right
{
	cursor: pointer;
}
.slider-right
{
	margin-left: 20px;
}

.slider-left .arrow-images
{
	margin-left: 20px;
}
.arrow-left
{
	position: absolute;
	left: -3.6%;
	top:40%;
	width: 0px; 
	height: 0px; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid black;
	z-index: 1; 
}
#l-arrow,#r-arrow
{
	display:block!important;
}
.rslides_nav.rslides1_nav.prev,.rslides_nav.rslides1_nav.next
{
	color: #fff;
}
.arrow-images
{
	height: 20px!important;
	width: 20px!important;
	margin:0 auto;
	margin-top: 10px;
	margin-left: 20px;

}
.recent-author-name
{
	color: #41dbeb;
	font-style: italic;
	font-size: 13px;
	font-weight: bold;
}

.recent-article-txt
{
	color: #fff;
	width: 62%;
	height: 100px;
	margin-top: 20px;
	font-size: 20px;
	font-weight:bold;
	padding-right: 10px;
}
.recent-pub-info
{
	overflow: hidden;
}
.time-img
{
	margin-top: 3px;
	margin-right: 5px;
	width: 15px!important;
	height: 15px!important;
	float: left;



}
.recent-pub-time,
.recent-pub-date
{
	margin-top: 3px;
	color: #fff;
	font-size: 11px;
}

.recent-more
{
	margin-top: 50px;
}
.recent-more span a
{
	color:  #eb6a2b;
	font-style: italic;
	font-size: 12px;

}
/*This week.......................................................................*/
/*.article-box
{
	border:1px solid #cdcdcd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.article-box a
{
	display: block;
}
#this-week
{
	margin-top: 120px;
	margin-bottom: 120px;
}
.all-other
{
	
	padding: 10px 5px 10px 5px;
}
.article-img
{
	width: 100%;
}
.author-name
{
	font-style: italic;
	color: #41dbeb;
}
.article-title
{
	height: 30px;
	text-align: left;
	line-height: 1.2;
}*/
#this-week
{
	margin-top: 100px;
	overflow: hidden;
}
.articles-container .small-line
{
	margin-bottom: 55px;
}
.article-images
{
	width: 100%;
}
.article-boxes
{
	border: 1px solid #cdcdcd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.article-boxes:hover
{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
    -moz-box-shadow: 0 7px 14px -6px #6b6b6b;
    box-shadow: 0 7px 14px -6px #6b6b6b;
    transition:all .3s ease-in-out;
}
.article-boxes a
{
	display: block;

}
.article-body
{
	padding-top: 10px;
	padding-left: 10px;
}
.article-body-p
{
	height: 46px;
	margin-top: 10px;
}
.article-body-p a
{
	text-align: -webkit-left;
	color: #727373;
	font-size: 14px;
	font-weight: bold;
}
.article-author
{
	font-size: 12px;
	color: #41dbeb;
	font-style: italic;
}
.article-time,
.article-day
{
	font-size: 12px;
}


/* Tag Line Starts.............................................................................*/

/*Connect With us...............................................................................*/

#connect-us
{
	margin-top: 54px;
	margin-bottom: 50px;
}
.connect-heading h4
{
	margin-top: 20px;
	margin-bottom: 33px;
	text-align: center;
	font-family: Arvo;
	font-size: 20px;
	color: #252525;
	letter-spacing: 6px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 68px;
}
.footer-nav
{
	text-align: center;
}
.footer-nav p
{
	color: #434343;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}
.small-line
{
	margin:0 auto;
	height:1px; 
	width:9%;
	background-color: #eb6a2b;
}
/*...................................SLIDER.......................................*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  -o-backface-visibility:hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/*Copyright starts....................................................................*/
#copyright
{
	background-color: #252525;
	height: 35px;
}
.copyright-container
{
	position: relative;
	top: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
