<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">
<head>
	<title>LAWYERED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'blogHome/css/blogHome.css' %}">
</head>

<body>
  <header>
    <div class="container">
      <div class="header-nav">
        <span class="nav-ele"><a href="{% url 'homeView' %}"><img id="lawyered-link" src="{% static 'CommonImages/logo.png'%}"></a></span>
        <span class="nav-ele"><a href="{% url 'allArticleView' %}">ARTICLES</a></span>
      </div>
      <div class="header-middle">
        <img id="blog-logo" src="{% static 'CommonImages/ld.png' %}">
        <p class="p-middle">An initiative by <span><a id="lawyered-p" href="{% url 'homeView' %}">LAWYERED</a></span></p>
        <p class="p-bottom">Our featured blog provides transparent legal information</p>
      </div>
    </div>
  </header>

  <section id="our-need">
    <div class="container need-info">
      <h4><img class="comma-1" src="{% static 'blogHome/images/q1.png' %}">Law is freedom in its most controlled nature.<br>We all must abide by law, but it's unfair that we hardly understand law<img class="comma-2" src="{% static 'blogHome/images/q2.png' %}"></h4>
      <p>We, at Lawyered, understand Law and its complexity. It is important to understand the synergies
          of your buisness requirements and structure accordingly. We help you understand
          the compilance and process that are crucial for your buisness growth. sWe believe that this is not possible without active participation of lawyers and advisors. We invite you all to share your expertise and experiences.
      </p>  
      <div class="small-line"></div>
    </div>
  </section>

  <section id="form-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 about-register">
        <h3>WANT TO SHARE YOUR STORY?</h3>
        <p>Our articles provide transparent and helpful information to consumers and business owners. If you have information, tips or advice to share, we’d like you to register with us.</p>
        <span>Register <img src="{% static 'CommonImages/arrow.png' %}"></span>
      </div>
      <div class="col-sm-6 register-form">
      
       <form class="form2" action="" method="post"  novalidate>
          {% csrf_token %}
          <div class="top-2f">
            <div class="form-group left-2">
              <label for="id_person_name">NAME</label><br>
              {{form.person_name}}
              <div class="errors" id="name-error">{{form.person_name.errors.as_text}}</div>
            </div>
          
            <div class="form-group right-2">
              <label for="id_person_email">E-MAIL</label><br>
              {{form.person_email}}
              <div class="errors" id="email-error">{{form.person_email.errors.as_text}}</div>
            </div>
          </div>
          <div class="bottom-2f">       
            <div class="form-group  left-2">
              <label for="id_person_city">CITY</label><br>
              {{form.person_city}}  
              <div class="errors" id="city-error">{{form.person_city.errors.as_text}}</div>         
            </div>
          
            <div class="form-group right-2">
              <label for="id_phone_number">PHONE NUMBER</label><br>
              {{form.phone_number}}
              <div class="errors" id="number-error">{{form.phone_number.errors.as_text}}</div>
            </div>
          </div>    
          <input class="btn btn-default form-input" id="button2" type="submit" value="submit"
          data-toggle="modal" >
          <!-- Modal -->
          <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <a href="{% url 'ldHomeView'%}" type="button" class="btn btn-default" data-dismiss="modal">Close</a>

            </div>
          </div>

        </form>
        
      </div>
    </div>
  </div>
  </section>

  <section id="articles-area">
    <div class="container articles-container">
      <div class="article-heading">
        <h3>ARTICLES</h3>
      </div>  
      <div class="small-line"></div>
    <div class="row">
    {% for article in latest_articles  %}

      <div class="col-sm-4">
        <div class="article-boxes">
          <a href="{% url 'singleArticleView' article.article_slug %}"><img class="article-images" src="{{article.cover_image.url}}"></a>
          <div class="article-body">
            <span><img src="{% static 'CommonImages/time.png' %}" height="15" width="15"></span>
            <span class="article-time">{{article.pub_date|time:"H:i"}}|</span>
            <span class="article-day">{{article.pub_date|date:"M d,Y"}}</span>
          
            <p class="article-body-p"><a href="{% url 'singleArticleView' article.article_slug %}">{{article.article_title}}</a></p>
            <span class="article-author">By {{article.article_author}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  <section id="tag-line">
    <div class="container">
      
      <h3>Legal Solution. Better. Easier. Faster.</h3>
      
    </div>
  </section>

 

  <section id="connect-us">
    <div class="container">
      <div class="connect-heading">
        <h4>CONNECT WITH US</h4>
        <div class="small-line"></div>
      </div>
      <div class="row footer-stuff">
        <div class="col-sm-4 col-md-4 footer-nav">
          <p>Give us a call!</p>
          <p>Call @<span class="p-span">+91-9898989989</span></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>Have a question?</p>
          <p>Email us @<a class="p-span" href="">info@lawyered.in</a></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>We are social @</p>
          <p>
            <span><a href="https://www.facebook.com/lawyered.in"><img src="{% static 'CommonImages/facebook_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://twitter.com/LawyeredTweets"><img src="{% static 'CommonImages/twitter_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://www.linkedin.com/company/lawyered"><img src="{% static 'CommonImages/linkedin_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://plus.google.com/wm/capomaximo/108952108231921483693/posts/Qce5qcvUpBy"><img src="{% static 'CommonImages/google_.png' %}" height="30" width="30"></a></span>  
          </p>
        </div>
      </div>    
    </div>  
  </section> 
  
  <section id="copyright">
    <div class="container copyright-container">
      <span>Copyright @2015</span>
    </div>
  </section>
  

  <script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'blogHome/js/blogHome.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>