{% extends "homePage/homePage.html" %}
{% load staticfiles %}
{% block content %}
	<div class="form-stuff">
		<p>Subscribe and recieve updates to uncomplicate your buisness.</p>

		<form class="form-inline" action="/register/" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{email_form.email_id}}
			<input id="button2" class="btn btn-default" type="submit" value="subscribe">
			<br>
			<p class="warning"></p>		
		</form>
	</div>
<script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'homePage/js/homePage.js' %}"></script>	
{% endblock %}	