<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-us">

<head>
	<title>LAWYERED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'homePage/css/homePage.css' %}">
</head>

<body>

	<header>
  <!--  <img id="background-img" src="{% static 'homePage/images/banner.jpg' %}">-->
		<div class="container header-container">
			<div class="top-links">
				<span class="top-link1"><a id="will-scroll" href="">FOR LAWYERS</a></span>
				<span class="top-link2"><a href="{% url 'ldHomeView' %}">LEGAL DISRUPT</a></span>
			</div>

			<img id="lawyered-logo" src="{% static 'CommonImages/logo.png' %}">
      <p class="below-logo">We are launching very soon!</p>	
      <img id="rocket-img" src="{% static 'CommonImages/rocket.png' %}">
      <h2 class="header-heading">connecting Businesses to <span>legal advisors</span></h2>
        {% block content %}
        {% endblock %}
      <span id="down-img"><a href=""><img src="{% static 'CommonImages/down.png' %}"></a></span>    
		</div>	
	</header>

	<section id="three-images">
    <div class="container">
      <div class="cards col-sm-4" id="first-card">
        <img src="{% static 'CommonImages/d-01.png' %}">
        <p class="card-text">
          You have an idea, a skill <br>or a plan for growth
        </p>
        <div class="arrow-right"></div>
      </div>
      <div class="cards col-sm-4" id="second-card">  
        <img src="{% static 'CommonImages/y-01.png' %}">
        <p class="card-text">
          You wish to turn it<br> into a succesful business
        </p>
        <div class="arrow-right"></div>
      </div>
      <div class="cards col-sm-4" id="third-card"> 
        <img src="{% static 'CommonImages/h-01.png' %}">
        <p class="card-text">
          You wish to turn it<br> into a succesful business
        </p>
       
      </div>  

      <div class="small-line"></div>
    </div>
	</section>



  <section id="middle-banner">
    <div class="container">
      <img id="banner2" src="{% static 'homePage/images/image_home.png' %}">
    </div>  
  </section>  
      
    
  <section id="after-middle">
    <div class="container">
      <p class="mid-p-text">"Great organisations are build on strong foundations. Legal is no more an option rather a necessity."</p>
      <h3 class="mid-h-text">
        We will help you solve all your queries<br> and connect with your personal <span> legal advisors</span>
      </h3>
    </div>
  </section>

  <section id="our-tip">
    <div class="container">
      
    </div>
  </section>

  <section id="coming-soon">
    <div class="container coming-soon-container">
      <h4>
        It's almost here!
      </h4>
    </div>
  </section>

  <section id="are-you-lawyer">
    <div class="container are-you-container">
      <h3>Are you a lawyer?</h3>
      <h6>We value your advice & expertise.</h6>
      <img src="{% static 'homePage/images/heart.png' %}">   
      <h5>Join our Network and help nurture ideas into effective organisations.<br>While you do this , we help you get value for your work. 
      </h5>   
      <div class="small-line margin"></div>
      <div class="big-one" id="button2" ><a class="btn btn-default" href="{% url 'lawyerRegisterView' %}">get me an early access</a></div>
    </div>
  </section>

  <section id="tag-line">
    <div class="container">
      
      <h3>Legal Solution. Better. Easier. Faster.</h3>
      
    </div>
  </section>

 

	<section id="connect-us">
    <div class="container">
      <div class="connect-heading">
        <h4>CONNECT WITH US</h4>
        <div class="small-line"></div>
      </div>
      <div class="row footer-stuff">
        <div class="col-sm-4 col-md-4 footer-nav">
          <p>Give us a call!</p>
          <p>Call @<span class="p-span">+91-9898989989</span></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>Have a question?</p>
          <p>Email us @<a class="p-span" href="">info@lawyered.in</a></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>We are social @</p>
          <p>
            <span><a href="https://www.facebook.com/lawyered.in"><img src="{% static 'CommonImages/facebook_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://twitter.com/LawyeredTweets"><img src="{% static 'CommonImages/twitter_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://www.linkedin.com/company/lawyered"><img src="{% static 'CommonImages/linkedin_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://plus.google.com/wm/capomaximo/108952108231921483693/posts/Qce5qcvUpBy"><img src="{% static 'CommonImages/google_.png' %}" height="30" width="30"></a></span>
          </p>
        </div>
      </div>    
    </div>  
  </section>

  
	
   <section id="overlay">
   	<div>
     <a href="" id="cross-click"><img  class="cross" src="{% static 'homePage/images/cross.png'%}"></a>
     <p class="overlay-p">Thank You for subscribing to our newsletter!</p>
     <p class="bottom-overlay-p">we promise to send you only important stuff </p>
    </div>        
    </section>

    <section id="copyright">
      <div class="container copyright-container">
        <span>Copyright @2015</span>
      </div>
    </section>
  
	<script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery/responsiveslides.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'homePage/js/homePageMain.js' %}"></script>
  
</body>
</html>