body
{
	margin: 0 auto;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Ubuntu!important;
	color:#646464!important;
}

{
	text-decoration: none;
}

li
{
	list-style: none;
}
#button2.btn
{
	padding: 6px 12px 6px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: #eb6a2b;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: bold;

}

#button2.btn-default
{
	border-color: transparent;
}
.form-input
{
	-webkit-box-shadow: 0 7px 14px -6px #6b6b6b;
    -moz-box-shadow: 0 7px 14px -6px #6b6b6b;
    box-shadow: 0 6px 14px -6px #6b6b6b;
}


::-webkit-input-placeholder
{
	padding-top: 3px;
   	color: #fff;
   	font-size: 8pt;
   	font-style: italic;

}
/* Header Starts Here................................................................*/
header
{
	margin: 0 auto;
	height: 84px;
	text-align: center;
	background-color: #252525;

}
#lawyered-logo
{
	margin-top: 15px;
}
/*Thrilled Us Starts................................................................*/
#thrilled-us
{
	margin-top: 70px;
	text-align: center;
}
.thrilled-us-p
{
	font-size: 20px;
	font-family: Arvo;
	color: #767373;
	letter-spacing: 2px;

}
.thrilled-us-p strong
{
	color: #41dbeb;
}
/*Fill in Details and register......................................................*/
#form-section
{
	margin: 0 auto;
	text-align: center;
}
.all-form-stuff h5
{
	margin-bottom: 70px;
	font-size: 17px;
	font-family: Arvo;
	font-weight: bold;
	text-shadow: .6px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #767373;
}
/*input.form-control:valid
{
	background-color: #AAD5AA!important;
} */
.show-field
{
	display: none;
}
.date-of-b
{
	margin-top: 10px;
	margin-left: 43%;

}
#id_date_of_birth_month
{
	width: 18%;
	padding-left: 3px!important;
	color:  #767373!important;
	font-size: 13px;

}
#id_date_of_birth_day,
#id_date_of_birth_year
{
	width: 17%;
	font-size: 13px;
	color:  #767373!important;
}
#register-form
{
	overflow: hidden;
	padding-bottom: 20px;
}
.input2 .form-control
{
	background-color: #f2f2f2;
	/*margin-left: 20%;*/
	width: 52.4%;
	display: inline-block;
	/*width:35%;
	display: inline-block;*/
	border-radius: 0px;
	border: none;
}
.input2 label
{
	margin-left: 43%;
	font-size: 11px;
}
.cover-box
{
	overflow: hidden;
	text-align: left;
}
#id_gender
{
	overflow: hidden;
	padding-left: 1px;
}
#id_gender_1
{
	margin-left: 30px;
}
#id_gender li
{
	display: inline-block;
}
.cover-box p
{
	float: left;
	width: 50%;
}
.input-labels
{
	font-size: 12px;
	font-weight: 100!important;
}
.second input,.second label
{
	margin-left: 0px!important;
}.first input
{
	float: right;
	margin-right: 25px;

}
#id_last_name
{
	margin-top: 2px;
}
.big-line
{
	text-align: center;
	margin:0 auto;
	width: 57%;
	margin-top: 45px;
	margin-bottom: 20px;
	background-color: #eb6a2b;
	height: 1px;
}
.mandatory-fields
{
	float: right;
	margin-right:23%;
	font-size: 11px;
	font-style: italic;
	clear: both;
}
#button2
{
	float: left;
	clear: both;
	margin-left: 22%;
}
.first .errors
{
	margin-left: 43%;
	font-style: italic;
	color: red;
	font-size: 11px;

}
.second .errors
{
	font-style: italic;
	color: red;
	font-size: 11px;
}
/* Tag Line Starts.............................................................................*/



/*Connect With us...............................................................................*/

#connect-us
{
	margin-top: 54px;
	margin-bottom: 50px;
}
.connect-heading h4
{
	margin-top: 20px;
	margin-bottom: 33px;
	text-align: center;
	font-family: Arvo;
	font-size: 20px;
	color: #252525;
	letter-spacing: 6px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 68px;
}
.footer-nav
{
	text-align: center;
}
.footer-nav p
{
	color: #434343;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}

/*Copyright starts....................................................................*/
#copyright
{
	background-color: #252525;
	height: 35px;
}
.copyright-container
{
	position: relative;
	top: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}

/* Thank You area starts............................................................*/
#thank-you
{
	text-align: center;
	margin: 0 auto;
}
#thank-you h3
{
	color: #41dbeb;
}

#thank-you p
{
	font-style: italic;
}



/*Responsive Stuff starts.............................................................*/

@media (max-width: 992px){
	.input2 .form-control{
		width: 70%;
	}
	.input2 label{
		margin-left: 24%;
	}
	.first .errors{
		margin-left: 23%;
	}
	#id_date_of_birth_month,#id_date_of_birth_year,#id_date_of_birth_day{
		width: 70%;
		float: left;
		margin-left: 22%;
	}
}
@media (max-width: 768px){
	.thrilled-us-p{
		font-size: 15px;
		letter-spacing: 3px;
		line-height: 1.5;
	}
	.all-form-stuff h5 {
		font-size: 15px;
		letter-spacing: 3px;
		line-height: 1.5;
	}
}
@media (max-width: 570px){
	.cover-box p{
		width: 100%;
	}
	.cover-box{
		margin: 0 auto;
		text-align: center;
	}
	.input2 .form-control{
		width: 70%;
	}
	.first input{
		float: none;
		margin: 0px;
	}
	.input2 label{
		margin-left:0px; 
	}
	.date-of-b{
		margin:0px;
	}
	#id_date_of_birth_month,#id_date_of_birth_year,#id_date_of_birth_day{
		float: none;
		margin-left: 0px;
	}
	.first .errors{
		margin: 0px;
	}

}
