body
{
	margin: 0 auto;
	line-height: 1.5;
	letter-spacing: 1px;
	font-family: Ubuntu!important;
	color: #333333!important;
}
a
{
	text-decoration: none;
}


li
{
	list-style: none;
}
.f-share
{
	background-color: #3a5795;
}
.in-share
{
	background-color: #287bbc;
}
.tw-share
{
	background-color: #55acee;
}
.g-share
{
	background-color: #d34836;
}
.btn-img{
	margin-right: 20px;
}
.button2
{
	margin-top: 15px;
	width: 150px;
	height: 32px;
	float: right;
}
.button2 .btn
{
	padding: 6px 12px 6px 12px;
	border-radius: 0px;
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: bold;

}

.button2 .btn-default
{
	border-color: transparent;
}
.facebook-this,
.tweet-this,
.gplus-this
{
	display: inline-block!important;

}
a:hover
{
	text-decoration: none;
}
.facebook-this a,
.tweet-this a,
.gplus-this a
{
	color: #fff;
}





::-webkit-input-placeholder
{
   	color: #fff;
   	font-size: 8pt;
   	font-style: italic;
   	padding-left: 10px;
}

/* Header Starts..............................................................................*/

#top-header
{
	width:100%; 
	height:65px;
	background-color: #333333;
}
#top-header div
{

}
#blog-logo
{
	margin-top: 20px;
	height: 16px;
	width: 142px;
	float: left;
}
.article-tag1,.article-tag2
{
	position: relative;
	top: 20px;
	color: #41dbeb;
	float: right;
	
}
.article-tag1
{
	margin-left: 30px;
}
.article-tag2
{
	font-size: 11px;
	margin-top: 4px;
	color: #fff;
}
.article-tag2 a
{
	text-decoration: none!important;
	color: #fff!important;
}
.article-tag2 a:hover
{
	text-decoration: none!important;
	color: #fff!important;
}
#home-link
{
	height: 22px;
	width: 64px;

}
/*Article Banner..............................................................................*/
#article-banner
{
	margin-bottom: 30px;
}

.img-inside img
{
	
	width: 100%;
}
.article-title
{
	font-family: Arvo;
	font-weight: bold;
	letter-spacing: 2px;
}
.share-butts
{
	overflow: hidden;
}
.content-p p
{
	font-size: 15px;
	margin-bottom: 24px;
	text-align: left;
	font-family: Ubuntu!important;
}
.content-p
{
	padding-bottom: 30px;
}
.content-p strong
{
	font-size: 15px;
}
.article-by
{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #41dbeb;

}
.pub-date
{
	margin-top: 20px;
	color: #41dbeb;
}
#article-body
{
	overflow: hidden;
	padding-bottom: 30px;
}
/* Tag Line Starts.............................................................................*/

/*Connect With us...............................................................................*/

#connect-us
{
	margin-top: 54px;
	margin-bottom: 50px;
}
.connect-heading h4
{
	margin-top: 20px;
	margin-bottom: 33px;
	text-align: center;
	font-family: Arvo;
	font-size: 20px;
	color: #252525;
	letter-spacing: 6px;
	font-weight: bolder;
}
.footer-stuff
{
	margin-top: 68px;
}
.footer-nav
{
	text-align: center;
}
.footer-nav p
{
	color: #434343;
}
.p-span
{
	color: #eb6a2b;
	font-style: italic;
	font-weight: bold;
}
.small-line
{
	margin:0 auto;
	height:1px; 
	width:9%;
	background-color: #eb6a2b;
}
/* Tag Line Starts.............................................................................*/
#tag-line
{
	
	text-align: center;
	height: 107px;
	background-color: #333333;
	color: #41dbeb;
}
#tag-line h3
{
	margin-top: 40px;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-size: 25px;
}
/*Copyright starts....................................................................*/
#copyright
{
	background-color: #252525;
	height: 35px;
}
.copyright-container
{
	position: relative;
	top: 6px;
	font-size: 12px;
	text-align: center;
	color: #fff;
}
/*Responsive Stuff starts.....................................................................*/
@media (max-width: 992px){
	.share-butts{
		text-align: center;
		margin: 0 auto;
	}
	.button2{
		float: none;
		display: inline-block;
	}
}
@media (max-width: 460px){
	#tag-line h3{
		font-size: 16px;
		line-height: 1.3;
	}
}
@media (max-width: 360px){
	#tag-line h3{
		font-size: 12px;
	}
}