{% extends "registerLawyer/registerBase.html" %}
{% load staticfiles %}
{% block thankYou %}
	<section id="thank-you">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.lawyered.in" data-text="Hello All" data-size="large">Tweet
  	</a>

		<h3>
         THANK YOU FOR REGISTERING WITH US!
		</h3>
		<p>our customer relation manager will contact you soon</p>
	</section>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

{% endblock %}
