<!DOCTYPE html>
{% load staticfiles %}
{% load social_share %} 

<html lang="en-us">
<head>
	<title>LAWYERED</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta property="og:url"           content="http://127.0.0.1:8000/legal-disrupt/articles/the-first-person-you-need-onboard/"/>
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Your Website Title" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="{{current_object.cover_image.url}}" />
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin"> 
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min1.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'singleArticle/css/singleArticle.css' %}">

</head>
<body>
	
	<header id="top-header">
		<div class="container">
			<span class="left-stuff"><a href="{% url 'ldHomeView' %}"><img id="blog-logo" src="{% static 'CommonImages/ld.png' %}"></a></span>
			<span class="article-tag1"><a href="{% url 'homeView' %}"><img id="home-link" src="{% static 'CommonImages/logo.png' %}"></a></span>
			<span class="article-tag2"><a href="{% url 'allArticleView'%}">ARTICLES</a></span>
		</div>
	</header>
	<section id="article-top">
		<div class="container">
		<!--	<div class="">
				<span>ARTICLE</span>
			</div>-->
			<div class="pub-date">
				<span><img src="{% static 'CommonImages/time.png' %}" height="15" width="15"></span>
				<span>{{current_object.pub_date|date:"M d,Y"}} |</span>
				<span>{{current_object.pub_date|time:"H:i"}}</span>
			</div>
			<div>
				<h3 class="article-title">
					{{current_object.article_title}}
				</h3>
			</div>
			<div class="article-by">
				<span>by {{current_object.article_author}}</span>
			</div>
		</div>
	</section>
	<section id="article-banner">
		<div class="container">
			<div class="img-inside">
				<img src="{{current_object.cover_image.url}}">
			</div>
		</div>
	</section>
	<section id="article-body">
		<div class="container">
			<div class="col-sm-9 content-p">
				{{current_object.article_body|safe}}
				{% if middle == 0 %}
				<div class="img-inside">
					<img src="{{current_object.middle_image.url}}">
				</div>
				{% endif %}
				{{current_object.article_body1|safe}}
		
			</div>
			
			<div class="col-sm-3 share-butts">
				<div class="button2 f-share">
					<span class="btn btn-default">
						<img class="btn-img" width="20" height="20" src="{% static 'CommonImages/fb-white.png' %}">
						{% post_to_facebook object_or_url "share" %}
					</span>
				</div>
				<div class="button2 tw-share">
					<!-- <span><img class="btn-img" width="20" height="20" src="{% static 'CommonImages/link-white.png' %}">SHARE</span> -->

					<div class="btn btn-default">
						<img class="btn-img" width="20" height="20" src="{% static 'CommonImages/twitter.gif' %}">
						{% post_to_twitter "share" object_or_url "share" %}
					</div>
					

				</div>
				
				<div class="button2 in-share"><a class="btn btn-default" href="">
					<span><img class="btn-img" width="20" height="20" src="{% static 'CommonImages/link-white.png' %}">SHARE</span>
				</a></div>
				<div class="button2 g-share">
					<!-- <span><img class="btn-img" width="20" height="20" src="{% static 'CommonImages/twitter.gif' %}">SHARE</span> -->
					<span class="btn btn-default">
						<img class="btn-img" width="20" height="20" src="{% static 'CommonImages/google-white.png' %}">
						{% post_to_gplus object_or_url "share" %}
					</span>

				</div>
			</div>
		</div>	
	</section>	
 <section id="tag-line">
    <div class="container">
      
      <h3>Legal Solution. Better. Easier. Faster.</h3>
      
    </div>
  </section>
	<section id="connect-us">
    <div class="container">
      <div class="connect-heading">
        <h4>CONNECT WITH US</h4>
        <div class="small-line"></div>
      </div>
      <div class="row footer-stuff">
        <div class="col-sm-4 col-md-4 footer-nav">
          <p>Give us a call!</p>
          <p>Call @<span class="p-span">+91-9898989989</span></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>Have a question?</p>
          <p>Email us @<a class="p-span" href="">info@lawyered.in</a></p>
        </div>
        <div class="col-sm-4 footer-nav">
          <p>We are social @</p>
          <p>
            <span><a href="https://www.facebook.com/lawyered.in"><img src="{% static 'CommonImages/facebook_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://twitter.com/LawyeredTweets"><img src="{% static 'CommonImages/twitter_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://www.linkedin.com/company/lawyered"><img src="{% static 'CommonImages/linkedin_.png' %}" height="30" width="30"></a></span>
            <span><a href="https://plus.google.com/wm/capomaximo/108952108231921483693/posts/Qce5qcvUpBy"><img src="{% static 'CommonImages/google_.png' %}" height="30" width="30"></a></span>
          </p>
        </div>
      </div>    
    </div>  
  </section>
  <section id="copyright">
    <div class="container copyright-container">
      <span>Copyright @2015</span>
    </div>
  </section>
 </body>
  	<script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
	<script>
		/*var $facebookDiv=$('.facebook-this');
		var $tweetDiv=$('.twitter-this');	
		var $gplusDiv=$('.gplus-this');
		$tweetDiv.prepend('<img class="btn-img" width="20" height="20"'+ 'src="' + '{% static "CommonImages/twitter.gif" %}"'+'>');

			$facebookDiv.css({'display':'inline-block'});
			$tweetDiv.css({'display':'inline-block'});
			$gplusDiv.css({'display':'inline-block'});
			//$('div a:hover').css({'text-decoration':'none'});
			//$('div a').css({'color':'#fff'});
			var tweetHref=$tweetDiv.find('a');
			$('.facebook-this a').css({'display':'inline-block','color':'#fff'});
			$('.twitter-this a').css({'display':'inline-block','color':'#fff'});
			$('.gplus-this a').css({'display':'inline-block','color':'#fff'});
			console.log(tweetHref);
			//console.log(tweetHref);*/

	</script>
</html>